" set relativenumber
set timeoutlen=500
set hls
set si
set shiftwidth=4
set inccommand=nosplit " live substitution
set clipboard=unnamed
set lazyredraw " Make Macro faster
set incsearch
set gdefault
" let mapleader = '\<Space>'

" -----------IdeaVim featured-plugin
set easymotion
set surround
set commentary
set ReplaceWithRegister
set argtextobj
set textobj-entire
set multiple-cursors
set easymotion
let g:EasyMotion_override_acejump = 0
let g:EasyMotion_do_mapping = 0
" -----------
" Visual block mode
nnoremap <A-v> <C-v>
" Quit insert mode
inoremap jj <Esc>
" Pageup & Pagedown
map <A-d> <C-f>
map <A-e> <C-b>
" Exit insert mode inoremap jj <Esc>

" ----------Putting and Yanking
" Yankfrom above and below
nnoremap yk kyyp
nnoremap yj jyyP
" TODO: what's the difference between noremap and map
nnoremap p mzp`z
nnoremap P mzP`z
nnoremap gp "0p
nnoremap gP "0P

nnoremap <Space>h :nohls<CR>

" Convert \ to /
nnoremap g/ :s/\\/\//<CR>

" Add space before and after
" nnoremap <Space>h i<Space><Esc>l
nnoremap <Space>l a<Space><Esc>h
nmap <Space>i i<Space><Esc>i

" Join line
nnoremap <C-j> mzgJ`z

" Mimicking VS Code copy line upward
nnoremap  <A-S-k> mz"*yygp`z

" Quick seperating line
nmap gs jO<Esc>65a-<Esc>gccj
" -----------PyCharm IDE action------------
map L :action <A-a><CR>
map H :action <C-A-a><CR>

" Close ative tab
map <C-w>q :action CloseContent<CR>
map <C-w>c :action CloseContent<CR>
map <C-w>a :action CloseAllEditors<CR>

" View
map <C-w>o :action CloseAllEditorsButActive<CR>
map <C-w>w :action FocusEditor<CR>
map <C-l> :action NextTab<CR>
map <C-h> :action PreviousTab<CR>

" go to block end
nnoremap gM :action EditorCodeBlockStart<CR>
nnoremap gm :action EditorCodeBlockEnd<CR>

" Selection code block
nmap vai gm:action EditorCodeBlockStartWithSelection<CR>
nmap vii gm:action EditorCodeBlockStartWithSelection<CR><Down>
" BUG in vii

" Find usage
nnoremap gU :action FindUsages<CR>
nnoremap gu :action ShowUsages<CR>
nnoremap <Space>u :action FindUsagesInFile<CR>
nnoremap <Space>n :action GotoNextElementUnderCaretUsage<CR>
nnoremap <Space>N :action GotoPrevElementUnderCaretUsage<CR>
" Goto
nnoremap gD :action GotoImplementation<CR>
" Easymotion
nmap <Space>j <Plug>(easymotion-s)
nmap <Space>J <Plug>(acejump-linemarks)
" Error
nnoremap gh :action GotoNextError<CR>
nnoremap gH :action GotoPreviousError<CR>
" Menu
nnoremap <Space><Space> :action ToggleDistractionFreeMode<CR>
nnoremap <Space>e :action ShowFilePath<CR>
nnoremap <Space>r :action RefactoringMenu<CR>
nnoremap <Space>a :action NewElement<CR>
